.image-gallery{
    display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.image-gallery>li>img:hover{
    transform: scale(1.1);
    transition: 1s;
}
ul, ol, li {
    list-style-type: none;
}
.image-gallery>li {
    height: 20vh;
    width: auto;
    flex-grow: 1;
}

.image-gallery>li>  img {
      border-radius: 10px;
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }

@media screen and (min-width: 768px) {
    .image-gallery>li {
        height: 40vh;
        flex-grow: 1;
    }
    .about-para{
        width: 80%;
        font-size: 24px;
    }
}